<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>sideBar</title>
    </head>
    <body>
        <!-- 侧边栏 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"  th:fragment="sideBar">

            <!-- 侧边栏最上方图标 -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index.html">
                <!--        逆时针旋转15度-->
                <div class="sidebar-brand-icon rotate-n-15">
                    <img th:src="@{/static/img/qmx_icon_w.png}" alt="QMX" height="36" width="36"/>
                </div>
                <div class="sidebar-brand-text mx-3">启明星工作室</div>
            </a>

            <!-- 侧边栏分割线 -->
            <hr class="sidebar-divider my-0">

            <!-- 导航栏 -->
            <li class="nav-item" th:class="${(active == 'mainPage')?'nav-item active':'nav-item'}">
                <a class="nav-link" href="/index.html">
                    <!--          Font Awesome图标插件-->
                    <i class="fas fa-fw fa-coffee"></i>
                    <span>首页</span></a>
            </li>

            <!-- 侧边栏分割线 -->
            <hr class="sidebar-divider">

            <!-- 导航栏标题 -->
            <div class="sidebar-heading">
                组别
            </div>

            <!-- 导航栏按钮 - 页面折叠菜单 -->
            <!--      软件组-->
            <li class="nav-item" th:class="${(active=='webGroupBtn1')||(active=='webGroupBtn2')||(active=='webGroupBtn3')||(active=='webGroupBtn4')?'nav-item active':'nav-item'}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#webGroupCollapse"
                   aria-expanded="true" aria-controls="webGroupCollapse">
                    <!--          这个图标插件还蛮好用的-->
                    <i class="fas fa-fw fa-code"></i>
                    <span>软件组</span>
                </a>
                <div id="webGroupCollapse" class="collapse" th:class="${(active=='webGroupBtn1')||(active=='webGroupBtn2')||(active=='webGroupBtn3')||(active=='webGroupBtn4')?'collapse show':'collapse'}"
                     aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--            这个就是别的小队写的网页-->
                        <a th:class="${active=='webGroupBtn1'?'collapse-item active':'collapse-item'}" href="/webGroupPostsPage.html">组内论坛</a>
                        <a class="collapse-item" href="#">资源分享</a>
                        <a class="collapse-item" href="#">通知公告</a>
                        <a class="collapse-item" href="#">周任务发布</a>
                    </div>
                </div>
            </li>
            <!--      硬件组-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hardWareGroupCollapse"
                   aria-expanded="true" aria-controls="hardWareGroupCollapse">
                    <!--          这个图标插件还蛮好用的-->
                    <i class="fas fa-fw fa-microchip"></i>
                    <span>硬件组</span>
                </a>
                <div id="hardWareGroupCollapse" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--            这个就是别的小队写的网页-->
                        <a class="collapse-item" href="#">组内论坛</a>
                        <a class="collapse-item" href="#">资源分享</a>
                        <a class="collapse-item" href="#">通知公告</a>
                        <a class="collapse-item" href="#">周任务发布</a>
                    </div>
                </div>
            </li>

            <!-- 侧边栏分割线 -->
            <hr class="sidebar-divider">

            <!-- 侧边栏标题 -->
            <div class="sidebar-heading">
                更多
            </div>
            <!--   后台管理  -->
            <li class="nav-item" th:if="${session.loadUser!=null && session.loadUser.userclass eq 5}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPages"
                   aria-expanded="true" aria-controls="adminPages">
                    <i class="fas fa-fw fa-window-maximize"></i>
                    <span>后台管理</span>
                </a>
                <div id="adminPages" th:class="${(active=='user')||(active=='posting')||(active=='postDetail')?'collapse show':'collapse'}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">管理功能</h6>
                        <a th:class="${active=='user'?'collapse-item active':'collapse-item'}" href="/list/user">用户管理</a>
                        <a th:class="${active=='posting'?'collapse-item active':'collapse-item'}" href="/list/posting">帖子管理</a>
                        <a class="collapse-item" href="/list/comment">评论管理(暂不开放)</a>
                        <!--            分隔-->
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">信息功能</h6>
                        <a class="collapse-item" href="#">用户详细（未开放）</a>
                        <a th:class="${active=='postDetail'?'collapse-item active':'collapse-item'}" href="/detail/postDetail">帖子详细</a>
                        <a class="collapse-item" href="#/">消息管理</a>
                    </div>
                </div>
            </li>
            <!-- 折叠菜单 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-external-link-alt"></i>
                    <span>友情链接</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">启明星组内页面</h6>
                        <a class="collapse-item" href="#">招新网站</a>
                        <a class="collapse-item" href="https://oj.ctguqmx.cn/">工作室OJ</a>
                        <a class="collapse-item" href="https://git.ctguqmx.com/">工作室GitLab</a>
                        <!--            分隔-->
                        <div class="collapse-divider"></div>

                        <h6 class="collapse-header">其他页面</h6>
                        <a class="collapse-item" href="http://192.168.9.210/acmctgu/">校OJ</a>
                        <a class="collapse-item" href="https://ac.nowcoder.com/acm/home">牛客网算法竞赛</a>
                        <a class="collapse-item" href="https://github.com/">GitHub</a>
                    </div>
                </div>
            </li>

            <!-- 表格统计入口 -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>统计</span></a>
            </li>


            <!-- 侧边栏分隔线 -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- 缩小侧边栏 -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- 侧边栏到此为止啦 -->

        <!-- 顶部头条内容 -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="navBar">

            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- 搜索功能-->
            <!--          搜索的表单在这里-->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="搜索问题，话题或用户..."
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">

                        <button class="btn btn-primary ml-1" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>

                    </div>
                </div>
            </form>

            <!-- 头条的其余内容（右侧） -->
            <ul class="navbar-nav ml-auto">

                <!-- 下拉搜索窗口 (当画面宽度过小时显示) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- 下拉菜单的搜索栏 -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                         aria-labelledby="searchDropdown">
                        <!--                这个表单与上面的表单是一样的，只不过页面缩小时，上面那个会被隐藏而弹出这个-->
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                       placeholder="搜索问题，话题或用户..." aria-label="Search"
                                       aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </li>


                <!-- 消息提示 -->
                <li class="nav-item dropdown no-arrow mx-1" id="newMsgButton" th:if="${session.loadUser!=null}">
                    <!--              消息铃的部分-->
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!--                消息数量的接口在这里-->
                        <span class="badge badge-danger badge-counter">2</span>
                    </a>

                    <!--             普通消息提示的弹出界面                                               弹出动画-->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            您收到的消息
                        </h6>

                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">{{时间接口}}</div>
                                <span class="font-weight-bold">您发布的文章{{名称接口}}有新回复了，快去查看吧</span>
                            </div>
                        </a>

                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">{{时间接口}}</div>
                                <span class="font-weight-bold">您内容{{内容接口}}已被删除，请了解相关规则</span>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">显示更多消息</a>
                    </div>
                </li>

                <!-- 新私信按钮 -->
                <li class="nav-item dropdown no-arrow mx-1" id="newEmailButton"  th:if="${session.loadUser!=null}">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <!-- 私信数量 -->
                        <span class="badge badge-danger badge-counter">1</span>
                    </a>
                    <!-- 私信的下拉菜单 -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">
                            您收到的私信
                        </h6>

                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <!--                      私信头像-->
                                <img class="rounded-circle" th:src="@{/static/img/avatar/icon3.png}" alt="">
                            </div>
                            <div class="font-weight-bold">
                                <div class="small text-gray-500">{{时间接口}}</div>
                                <div class="text-truncate">周六下午一起去图书馆吗？</div>
                            </div>
                        </a>

                        <a class="dropdown-item text-center small text-gray-500" href="#">显示更多私信</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>


                <!--头条物件--登陆的用户信息 -->
                <li class="nav-item dropdown no-arrow" id="user-area" th:if="${session.loadUser!=null}">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--                            用户名的接口在这里-->
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="userName"
                              th:text="${session.loadUser.username}"></span>
                        <!--                  用户头像-->
                        <img class="img-profile rounded-circle" th:src="@{/static/img/avatar/icon3.png}" alt=""/>
                    </a>
                    <!-- 用户账号信息的下拉菜单 -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="../profile.html">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            我的账号
                        </a>
                        <a class="dropdown-item" href="../profile.html">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            账号设置
                        </a>
                        <!--                分割线-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            退出登录
                        </a>
                    </div>
                </li>
                <li class="nav-item mx-1 text-nowrap" id="login-button" th:if="${session.loadUser eq null}">
                    <button class="btn btn-outline-success text-nowrap" onclick="window.location.href='/login.html'">登陆</button>
                    <button class="btn btn-outline-success text-nowrap" onclick="window.location.href='/register.html'">注册</button>
                    <button class="btn btn-outline-success text-nowrap" onclick="window.location.href='/1'">一键管理员登录</button>
                    <button class="btn btn-outline-success text-nowrap" onclick="window.location.href='/2'">一键用户登录</button>
                </li>
                <!--              签到的按钮，id在这里-->
                <li class="nav-item mx-1 mt-3 text-nowrap" id="checkIn"  th:if="${session.loadUser!=null && (session.loadUser.userclass eq 2 || session.loadUser.userclass eq 3 || session.loadUser.userclass eq 5)}">
                    <button class="btn btn-outline-success text-nowrap">签到</button>
                </li>
                <!--                    进入后台-->
                <li class="nav-item mx-1 mt-3 text-nowrap" id="enterTheBackstage" th:if="${session.loadUser!=null && session.loadUser.userclass eq 5}">
                    <button class="btn btn-outline-danger text-nowrap" onclick="window.location.href='/list/user'">进入后台</button>
                </li>
                <a href="/ajax"> ajax测试入口</a>
            </ul>
            <!--           退出登录弹窗-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">确定退出当前账号？</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body m-0">保持登陆以防止错过重要信息</div>
                        <div class="modal-body m-0">您确定要这么做吗？</div>

                        <div class="modal-footer">
                            <!--                                                          这个命令可以开关这个div-->
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                            <a class="btn btn-primary" href="/logout">确定</a>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
        <!-- 顶栏到此为止 -->
    </body>
</html>