<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
    <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">
    <title>忘记密码</title>

    <!-- 导入模板css以及字体-->
    <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- 导入自定义模板-->
    <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!--                   一个区块-->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block" style="background: url('../../static/img/forgotPasswordBG.png') 12px -3px;"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">忘记密码？</h1>
                                    <p class="mb-4">请输入您注册时留下的邮箱，我们会向您的邮箱发送重设密码邮件！</p>
                                </div>

<!--                                表单-->
                                <form class="user" id="emailForm" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input name="to" type="email" class="form-control form-control-user" id="yourEmail" aria-describedby="emailHelp" placeholder="请输入正确的邮箱地址...">
                                    </div>
                                    <div class="d-none hidden overflow-hidden">
                                        <input type="file" name="file"  class="myFileUpload" multiple="multiple" id="file"/>
                                        <input name="subject" type="text" value="启明星工作室密码重设邮件">
                                        <input name="contentText" id="comments" value="收件测试，如果不是您本人操作，请忽视本邮件(尚未完成真正修改密码链接跳转)">
                                    </div>
                                </form>
                                <button class="btn btn-primary btn-user btn-block" style="border-radius: 20px;"
                                        data-toggle="modal" data-target="#sendingEmail" id="sendEmailBtn">
                                    发送邮件
                                </button>


                                <hr>
                                <div class="text-center">
                                    <a class="small" href="register.html">创建新的账号！</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="login.html">已经有了账号？前去登录！</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<!--登陆出错提示-->
<div class="modal fade" id="sendingEmail" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center items-center">

            <div class="modal-header text-center">
                <h5 class="modal-title text-success" id="exampleModalLabel">请稍等</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body m-0">正在发送邮件</div>
            <div class="mb-5" id="sendingResult">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw mb-3"></i>
                <span class="sr-only">发送中...</span>
            </div>
        </div>
    </div>
</div>


<!-- 使用Bootstrap之前必须先引用这两个-->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- 一些js插件-->
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- 自己的js文件-->
<script th:src="@{/static/js/index-min.js}"></script>
<script th:src="@{/static/js/loginCheck.js}"></script>


<script type="text/javascript">
    $(function () {
        $("#sendEmailBtn").on("click",function () {
            let form = new FormData($("#emailForm")[0]);
            $.ajax({
                url:'sendEmail',
                data:form,
                processData:false,
                contentType:false,
                type:'post',
                dataType:'json',
                success:function (res) {
                    if(res===true){
                        $('#sendingResult').addClass("text-success").html("发送成功").removeClass("text-danger");
                        // alert("发送成功");
                        // window.location.reload();
                    }
                    else{
                        $('#sendingResult').addClass("text-danger").html("发送失败").removeClass("text-success");
                        // alert("发送失败");
                    }
                }
            })
        })
    })
</script>

</body>

</html>
