<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <!--请适当使用搜索功能，检索href="#",查找当前空缺接口-->
    <head>
        <!--  防止乱码-->
        <meta charset="utf-8">
        <!--  提升网页兼容性-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
        <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
        <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">
        <title>启明星工作室</title>

        <!-- 自定义字体-->
        <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">

        <!-- 自己的css-->
        <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet">

        <style>
            /*去除a标签的所有效果*/
            /*包含以下四种的链接*/
            a {
                text-decoration: none;
            }
            /*正常的未被访问过的链接*/
            a:link {
                text-decoration: none;
            }
            /*已经访问过的链接*/
            a:visited {
                text-decoration: none;
            }
            /*鼠标划过(停留)的链接*/
            a:hover {
                text-decoration: none;
            }
            /* 正在点击的链接*/
            a:active {
                text-decoration: none;
            }
        </style>
    </head>

    <body id="page-top">

        <!-- 页面整体 -->
        <div id="wrapper">

            <!-- 侧边栏 -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- 侧边栏最上方图标 -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <!--        逆时针旋转15度-->
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img th:src="@{/static/img/qmx_icon_w.png}" alt="QMX" height="36" width="36"/>
                    </div>
                    <div class="sidebar-brand-text mx-3">启明星工作室</div>
                </a>

                <!-- 侧边栏分割线 -->
                <hr class="sidebar-divider my-0">

                <!-- 导航栏 -->
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <!--          Font Awesome图标插件-->
                        <i class="fas fa-fw fa-coffee"></i>
                        <span>首页</span></a>
                </li>

                <!-- 侧边栏分割线 -->
                <hr class="sidebar-divider">

                <!-- 导航栏标题 -->
                <div class="sidebar-heading">
                    组别
                </div>

                <!-- 导航栏按钮 - 页面折叠菜单 -->
                <!--      软件组-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#webGroupCollapse"
                       aria-expanded="true" aria-controls="webGroupCollapse">
                        <!--          这个图标插件还蛮好用的-->
                        <i class="fas fa-fw fa-code"></i>
                        <span>软件组</span>
                    </a>
                    <div id="webGroupCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!--            这个就是别的小队写的网页-->
                            <a class="collapse-item" href="#">组内论坛</a>
                            <a class="collapse-item" href="#">资源分享</a>
                            <a class="collapse-item" href="#">通知公告</a>
                            <a class="collapse-item" href="#">周任务发布</a>
                        </div>
                    </div>
                </li>
                <!--      硬件组-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hardWareGroupCollapse"
                       aria-expanded="true" aria-controls="hardWareGroupCollapse">
                        <!--          这个图标插件还蛮好用的-->
                        <i class="fas fa-fw fa-microchip"></i>
                        <span>硬件组</span>
                    </a>
                    <div id="hardWareGroupCollapse" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!--            这个就是别的小队写的网页-->
                            <a class="collapse-item" href="#">组内论坛</a>
                            <a class="collapse-item" href="#">资源分享</a>
                            <a class="collapse-item" href="#">通知公告</a>
                            <a class="collapse-item" href="#">周任务发布</a>
                        </div>
                    </div>
                </li>

                <!-- 侧边栏分割线 -->
                <hr class="sidebar-divider">

                <!-- 侧边栏标题 -->
                <div class="sidebar-heading">
                    更多
                </div>
                <!--   后台管理  -->
                <li class="nav-item" th:if="${user!=null && user.getUserclass() eq 4}">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPages"
                       aria-expanded="true" aria-controls="adminPages">
                        <i class="fas fa-fw fa-external-link-alt"></i>
                        <span>后台管理</span>
                    </a>
                    <div id="adminPages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">管理功能</h6>
                            <a class="collapse-item" href="/list/user">用户管理</a>
                            <a class="collapse-item" href="/list/posting">帖子管理</a>
                            <a class="collapse-item" href="/list/comment">评论管理</a>
                            <!--            分隔-->
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">信息功能</h6>
                            <a class="collapse-item" href="#">发布消息</a>
                            <a class="collapse-item" href="#">#</a>
                            <a class="collapse-item" href="#/">#</a>
                        </div>
                    </div>
                </li>
                <!-- 折叠菜单 -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                       aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-external-link-alt"></i>
                        <span>友情链接</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">启明星组内页面</h6>
                            <a class="collapse-item" href="#">招新网站</a>
                            <a class="collapse-item" href="https://oj.ctguqmx.cn/">工作室OJ</a>
                            <a class="collapse-item" href="https://git.ctguqmx.com/">工作室GitLab</a>
                            <!--            分隔-->
                            <div class="collapse-divider"></div>

                            <h6 class="collapse-header">其他页面</h6>
                            <a class="collapse-item" href="http://192.168.9.210/acmctgu/">校OJ</a>
                            <a class="collapse-item" href="https://ac.nowcoder.com/acm/home">牛客网算法竞赛</a>
                            <a class="collapse-item" href="https://github.com/">GitHub</a>
                        </div>
                    </div>
                </li>

                <!-- 表格统计入口 -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-chart-bar"></i>
                        <span>统计</span></a>
                </li>


                <!-- 侧边栏分隔线 -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- 缩小侧边栏 -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- 侧边栏到此为止啦 -->

            <!-- 接下来是主内容区域 -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- 主内容 -->
                <div id="content">

                    <!-- 顶部头条内容 -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- 搜索功能-->
                        <!--          搜索的表单在这里-->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="搜索问题，话题或用户..."
                                       aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">

                                    <button class="btn btn-primary ml-1" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>

                                </div>
                            </div>
                        </form>

                        <!-- 头条的其余内容（右侧） -->
                        <ul class="navbar-nav ml-auto">

                            <!-- 下拉搜索窗口 (当画面宽度过小时显示) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- 下拉菜单的搜索栏 -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <!--                这个表单与上面的表单是一样的，只不过页面缩小时，上面那个会被隐藏而弹出这个-->
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Search for..." aria-label="Search"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </li>


                            <!-- 消息提示 -->
                            <li class="nav-item dropdown no-arrow mx-1" id="newMsgButton" th:if="${not #strings.isEmpty(name)}">
                                <!--              消息铃的部分-->
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!--                消息数量的接口在这里-->
                                    <span class="badge badge-danger badge-counter">2</span>
                                </a>

                                <!--             普通消息提示的弹出界面                                               弹出动画-->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        您收到的消息
                                    </h6>

                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{时间接口}}</div>
                                            <span class="font-weight-bold">您发布的文章{{名称接口}}有新回复了，快去查看吧</span>
                                        </div>
                                    </a>

                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{时间接口}}</div>
                                            <span class="font-weight-bold">您内容{{内容接口}}已被删除，请了解相关规则</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">显示更多消息</a>
                                </div>
                            </li>

                            <!-- 新私信按钮 -->
                            <li class="nav-item dropdown no-arrow mx-1" id="newEmailButton"  th:if="${not #strings.isEmpty(name)}">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <!-- 私信数量 -->
                                    <span class="badge badge-danger badge-counter">1</span>
                                </a>
                                <!-- 私信的下拉菜单 -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        您收到的私信
                                    </h6>

                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <!--                      私信头像-->
                                            <img class="rounded-circle" th:src="@{/static/img/avatar/icon3.png}" alt="">
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="small text-gray-500">{{时间接口}}</div>
                                            <div class="text-truncate">周六下午一起去图书馆吗？</div>
                                        </div>
                                    </a>

                                    <a class="dropdown-item text-center small text-gray-500" href="#">显示更多私信</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>


                            <!--头条物件--登陆的用户信息 -->
                            <li class="nav-item dropdown no-arrow" id="user-area" th:if="${not #strings.isEmpty(name)}">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!--                            用户名的接口在这里-->
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="userName"
                                          th:text="${name}" th:if="${not #strings.isEmpty(name)}"></span>
                                    <!--                  用户头像-->
                                    <img class="img-profile rounded-circle" th:src="@{/static/img/avatar/icon3.png}" alt=""/>
                                </a>
                                <!-- 用户账号信息的下拉菜单 -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        我的账号
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        账号设置
                                    </a>
                                    <!--                分割线-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        退出登录
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item mx-1 text-nowrap" id="login-button" th:if="${#strings.isEmpty(name)}">
                                <button class="btn btn-outline-success text-nowrap" onclick="window.location.href='/login.html'">登陆</button>
                                <button class="btn btn-outline-success text-nowrap" onclick="window.location.href='/register.html'">注册</button>
                            </li>
                            <!--              签到的按钮，id在这里-->
                            <li class="nav-item mx-1 mt-3 text-nowrap" id="checkIn"  th:if="${not #strings.isEmpty(name)}">
                                <button class="btn btn-outline-success text-nowrap">签到</button>
                            </li>
                            <!--                    进入后台-->
                            <li class="nav-item mx-1 mt-3 text-nowrap" id="enterTheBackstage" th:if="${user!=null && user.getUserclass() eq 4}">
                                <button class="btn btn-outline-danger text-nowrap">进入后台</button>
                            </li>
                            <a href="/ajax"> ajax测试入口</a>
                        </ul>

                    </nav>
                    <!-- 顶栏到此为止 -->

                    <!-- 主页内容 -->
                    <div class="container-fluid">
                        <div id="maincontainer">
                            <h2>鼠标悬停状态表格</h2>
                            <p>.table-hover 类可以为表格的每一行添加鼠标悬停效果（灰色背景）：</p>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>学号</th>
                                    <th>邮箱</th>
                                    <th>密码</th>
                                    <th>性别</th>
                                    <th>类别</th>
                                    <th>逻辑删除</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="listcontent">
                                </tbody>
                                <tbody>
                                <form action="/user/add" method="post">
                                    <th><input type="text" name="username"></th>
                                    <th><input type="text" name="schoolid"></th>
                                    <th><input type="text" name="email"></th>
                                    <th><input type="password" name="password"></th>
                                    <th><input type="text" name="gender"></th>
                                    <th><input type="text" name="class"></th>
                                    <th><input type="text" name="deleted"></th>
                                    <th><button type="submit">添加</button></th>
                                </form>
                                </tbody>
                            </table>
                            <button id="pre" onclick="pre()">上一页</button>
                            <div class="form-group">
                                <label for="sel1">下拉菜单:</label>
                                <select class="form-control" id="sel1">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sel2">显示条数:</label>
                                <select class="form-control" id="sel2">
                                </select>
                            </div>
                            <button id="next" onclick="next()">下一页</button>
                        </div>
                    </div>
                </div>
                <!-- 主体内容结束-->

                <!-- 页脚 -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; 三峡大学启明星工作室 2020 - 鄂ICP备15002584号</span>
                        </div>
                    </div>
                </footer>
                <!--页脚也就这么点点-->

            </div>
            <!-- 总内容也就这么多了-->

        </div>
        <!--主体的区域结束了，接下来就是弹窗的div等部分-->

        <!-- 回到最上-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!--登出时弹出的窗口-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">确定退出当前账号？</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body m-0">保持登陆以防止错过重要信息</div>
                    <div class="modal-body m-0">您确定要这么做吗？</div>

                    <div class="modal-footer">
                        <!--                                                          这个命令可以开关这个div-->
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                        <a class="btn btn-primary" th:href="@{login.html}">确定</a>
                    </div>

                </div>
            </div>
        </div>


        <!-- 使用Boostrap之前必须先引用这两个-->
        <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- 一些js插件-->
        <script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- 自己的js文件-->
        <script th:src="@{/static/js/index.js}"></script>

        <!-- 关于表格的js插件 -->
        <script th:src="@{/static/vendor/chart.js/Chart.min.js}"></script>

        <!--引入表格 一个折线图另一个饼图-->
        <script th:src="@{/static/js/graph/chart-area-demo.js}"></script>
        <script th:src="@{/static/js/graph/chart-pie-demo.js}"></script>
        <script type="text/javascript">
            var page = 1;
            var size = 5;
            function get() {
                $.post("/user/selectPage?page="+page+"&size="+size,function (data) {
                    var pages = data.records;
                    console.log(pages);
                    if(page > data.pages){
                        page--;
                        return;
                    }
                    // 填入数据
                    let temp = "";
                    for(let i = 0; i < data.size; i++){
                        if(pages[i] == null){
                            temp+= "<tr>"+
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无信息" + "</td>" +
                                "<td>" + "暂无消息" + "</td>" +
                                "</tr>";
                        }else {
                            temp += "<tr>" +
                                "<td>" + pages[i].username + "</td>" +
                                "<td>" + pages[i].schoolid+ "</td>" +
                                "<td>" + pages[i].email+ "</td>" +
                                "<td>" + pages[i].password + "</td>" +
                                "<td>" + pages[i].gender + "</td>" +
                                "<td>" + pages[i].userclass + "</td>" +
                                "<td>" + pages[i].deleted + "</td>" +
                                '<td><a href="/user/show?id='+pages[i].id +'">详细|</a>' +
                                '<a href="/user/updata?id='+pages[i].id +'">修改|</a>' +
                                '<a href="/user/delete?id='+pages[i].id +'">删除|</a>' +
                                '</td>' +
                                "</tr>";
                        }
                    }
                    $("#listcontent").html(temp);
                    //填入页面
                    temp = "";
                    for(let i = 1; i <= data.pages; i++){
                        if(data.current == i){
                            temp += '<option selected value="'+i+'">第'+i+'页</option>';
                        }else {
                            temp += '<option value="' + i + '">第' + i + '页</option>';
                        }
                    }
                    $("#sel1").html(temp);
                    //填入size
                    temp = "";
                    var Max = 20;
                    if(data.total < Max){
                        Max = data.total;
                    }
                    for(let i = 1; i <= Max; i++){
                        if(size == i){
                            temp += '<option selected value="'+i+'">'+i+'条</option>';
                        }else {
                            temp += '<option value="' + i + '">' + i + '条</option>';
                        }
                    }
                    $("#sel2").html(temp);
                })
            }
            window.onload = function () {
                get();
            }
            function pre() {
                if(page>0){
                    page--;
                    get();
                }
            }
            function next() {
                page++;
                get();
            }
            function check(){
                $.post({
                    url: "/user/ajaxCheck",
                    data: { "username": $("#username").val(),
                        "password": $("#password").val()
                    },
                    success:function(data,state){
                        var umsg = data["Umsg"];
                        var pmsg = data["Pmsg"];
                        console.log(umsg);
                        console.log(pmsg);
                        $("#Umsg").text(umsg);
                        $("#Pmsg").text(pmsg);
                    }
                })
            }
            $("#sel1").change(function(){
                page = $("#sel1").val();
                get();
            });
            $("#sel2").change(function(){
                size = $("#sel2").val();
                get();
            });
        </script>
    </body>

</html>
