<!--thymeleaf传入参数-->
<!--1. user类-->
<!--2. posting文章-->
<!--3. comments评论(单回复文章，楼中楼之后实现)-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <!--请适当使用搜索功能，检索href="#",查找当前空缺接口-->
    <head>
        <!--  防止乱码-->
        <meta charset="utf-8">
        <!--  提升网页兼容性-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
        <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
        <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">
        <title>启明星工作室</title>

        <!-- 自定义字体-->
        <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">

        <!-- 自己的css-->
        <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet">
        <!--    bootstrap4.5的table渲染css-->
        <link th:href="@{/static/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

        <style>
            /*去除a标签的所有效果*/
            /*包含以下四种的链接*/
            a {
                text-decoration: none;
            }

            /*正常的未被访问过的链接*/
            a:link {
                text-decoration: none;
            }

            /*已经访问过的链接*/
            a:visited {
                text-decoration: none;
            }

            /*鼠标划过(停留)的链接*/
            a:hover {
                text-decoration: none;
            }

            /* 正在点击的链接*/
            a:active {
                text-decoration: none;
            }
        </style>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            img {
                display: inline-block;
                height: auto;
                max-width: 100%;
            }

            /*响应String中的回车符*/
            #blogContent {
                white-space: pre-line;
            }

            #blogContent iframe {
                display: inline-block;
                height: 720px;
                max-width: 100%;
                width: 1080px;
            }

            #comment {
                white-space: pre-line;
            }

            #comment img {
                display: inline-block;
                height: auto;
                max-width: 20%;
            }

            code div {
                background: #e2e2e2;
                border-left: 5px solid #b7cfcf;
            }
            pre {
                background: #e2e2e2;
                border-left: 5px solid #b7cfcf;
            }

            #blogContent table {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                width: 100%;
                border-collapse: collapse;
            }

            #blogContent table td, #blogContent table th {
                font-size: 1em;
                border: 1px solid #c7e2e5;
                padding: 3px 7px 2px 7px;
            }

            #blogContent table th {
                font-size: 1.1em;
                text-align: left;
                padding-top: 5px;
                padding-bottom: 4px;
                background-color: #6ecbcf;
                color: #ffffff;
            }

            #blogContent table tr.alt td {
                color: #000000;
                background-color: #eaf2d3;
            }

            #commentBlock iframe {
                display: inline-block;
                height: 480px;
                max-width: 100%;
                width: 720px;
            }
            .w-e-toolbar{
                flex-wrap:wrap;
            }
        </style>
    </head>

    <body id="page-top" onload="collectedOrNot();">

        <!-- 页面整体 -->
        <div id="wrapper">

            <!-- 侧边栏 -->
            <!-- 侧边栏到此为止啦 -->

            <!-- 接下来是主内容区域 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- 主内容 -->
                <div id="content">
                    <!-- 顶部头条内容 -->
                    <div th:replace="commonModule/module::navBar"></div>
                    <!-- 顶栏到此为止 -->
                    <!-- 主页内容 -->

                    <main role="main" class="container">
                        <div class="d-flex align-items-center p-3 my-3 bg-gray-100 rounded shadow-sm border-left-primary">
                            <!--   <img class="mr-2" src="img/qmx_icon_w.png" width="52" height="52" alt="qmx">-->
                            <div class="lh-125 w-100">
                                <h4 class="lh-125 d-block"><span th:text="${posting.getPostingtitle()}">发帖标题</span></h4>
                                <div class="d-none overflow-hidden">
                                    <small id="postID" th:text="${posting.getPostingid()}"></small>
                                    <small id="thisPageUserID" th:text="${posting.getId()}"></small>
                                </div>
                                <small class="mr-2">
                                    <img th:src="@{/static/img/avatar/icon5.png}" alt="" height="32" width="32">
                                    <span class="text-success" style="font-size: 16px;">
                                        <a th:href="'/showUser?id=' + ${posting.getId()}" th:text="${posting.getUsername()}"></a>
                                    </span><br/>
                                    <span class="text-muted">发布于:
                                        <span class="text-muted" th:text="${posting.getPostingdate()}"></span>
                                    </span>
                                    <span class="d-block">最后更新于:
                                        <span class="text-muted" th:text="${posting.getUpdatadate()}"></span>
                                    </span>
                                    <span>本帖标签:
                                        <span th:switch="${posting.getPostingclass()}">
                                            <span th:case="0" class="text-muted">常规帖</span>
                                            <span th:case="1" class="text-muted">学习总结</span>
                                            <span th:case="2" class="text-muted">答辩作品</span>
                                            <span th:case="3" class="text-muted">电脑带离</span>
                                            <span th:case="4" class="text-muted">聊天水贴</span>
                                            <span th:case="5" class="text-muted">实习工作</span>
                                            <span th:case="6" class="text-muted">算法总结</span>
                                        </span>
                                        <i class="fas fa-tags"></i>
                                    </span>
                                    <a class="text-muted" href="#">邀请 <i class="fas fa-envelope"></i> </a>
                                    <a class="text-muted" href="#">举报 <i class="fas fa-exclamation-circle"></i> </a>
                                </small>
                            </div>
                            <button id="postsLikesBtn" class="btn btn-sm btn-success my-2 my-sm-0 float-right mr-1 text-nowrap"
                                    onclick="likesThisPost();" >关注本帖 |
                                <span class="badge align-text-bottom" style="font-size: 14px;"
                                      th:text="${posting.getCollectionnum()}"></span>
                            </button>
                        </div>

                        <div class="my-3 p-3 bg-white rounded shadow-sm">
                            <div class="mb-3 border-gray pb-2" id="blogContent">
                                <span th:utext="${posting.getPostingcontent()}">
<!--                                    开发组所有成员请在此贴下面回复2020年春季学期的总结<br/>-->

                                    <!--                                要求：<br/>-->
                                    <!--                                1、总结一下过去的一整学期在工作室的学习和收获<br/>-->
                                    <!--                                2、谈一谈对工作室的管理和建设的一些看法和意见<br/>-->
                                    <!--                                3、简单计划一下暑期的时间安排<br/>-->
                                    <!--                                4、限本周日之前完成（2019.7.5）<br/>-->
                                </span>
                            </div>
                            <hr/>
                            <div class="md-4"  id="commentThisPostBtnArea">
                                <!--            <small class="text-right mt-3 mr-2">-->
                                <!--                <a href="#">赞<span class="badge badge-pill bg-light align-text-bottom">16</span></a>-->
                                <!--            </small>-->
                                <!--            <small class="text-right mt-3 mr-2">-->
                                <!--                <a href="#">踩</a>-->
                                <!--            </small>-->
                                <button class="btn btn-success" onclick="commentThisPosting();">回复此贴</button>
                                <button id="modifyThisPostBtn" class="btn btn-info d-none" onclick="modifyThisPosting();">修改此贴</button>
                            </div>

                            <div id="commentThisPostArea" class="mr-2 mt-6 d-none animated--grow-in" style="padding-top: 10px;">
                                <form th:action="@{/addComment?type=1}" method="post">
                                    <input class="form-control" th:value="${posting.getPostingid()}" name="topostingid"
                                           style="display:none;">
                                    <input class="form-control" th:value="${session.loadUser.id}" name="id"
                                           style="display:none;">
                                    <input class="form-control" th:value="${session.loadUser.username}" name="username"
                                           style="display:none;">
                                    <div id="editDiv" onmouseout="updateCommentText(this);"></div>
                                    <textarea id="commentTextArea" class="form-control d-none overflow-hidden"
                                              type="text" rows="1" name="commentcontent" placeholder="..."></textarea>

                                    <button class="btn btn-outline-info mt-1 mb-5 float-right ml-1" type="submit">确定回复</button>
                                    <button onclick="cancelComment(this);" class="btn btn-outline-secondary mt-1 mb-5 float-right" type="button">取消</button>
                                    <div class="mt-5 mb-0" style="width: auto;height: 1px; background: #e5e5e5;"></div>
                                </form>
                            </div>

                            <!--        修改此贴的form-->
                            <div id="modifyThisPostArea" class="mr-2 d-none mt-6 animated--grow-in" style="padding-top: 10px;">
                                <form action="/updataPosting" method="post">
                                    <input th:value="${posting.getPostingid()}" name="postingid" style="display:none;">
                                    <input class="form-control mb-1" th:value="${posting.getPostingtitle()}" name="postingtitle">
                                    <div id="modifyEditDiv" onmouseout="updateCommentText(this);"></div>
                                    <textarea class="form-control   d-none   overflow-hidden" type="text" rows="4" name="postingcontent" placeholder="..."></textarea>
                                    <button class="btn btn-outline-danger mt-1 mb-5 float-right ml-1" type="submit">确定修改</button>
                                    <button onclick="cancelComment(this);" class="btn btn-outline-secondary mt-1 mb-5 float-right" type="button">取消</button>
                                    <div class="mt-5 mb-0" style="width: auto;height: 1px; background: #e5e5e5;"></div>
                                </form>
                            </div>




                        </div>

                        <div class="my-3 p-3 bg-white rounded shadow-sm" id="commentBlock">

                            <h6 class="border-bottom border-gray pb-2 mb-0"><span class="badge align-text-bottom bg-info text-light" style="font-size: 14px;"></span>
                                [[${posting.getCommentnum()}]]个回复</h6>
                            <div class="card-body">
                                <div class="table-responsive">




                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>回复</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listcontent"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>

                </div>
                <!-- 主体内容结束-->
                <div style="display: none" id="temp">
                    <input id="postingid" th:value="${posting.getPostingid()}">
                    <input id="userid" th:value="${session.loadUser.id}">
                    <input id="username" th:value="${session.loadUser.username}">
                </div>
                <!-- 页脚 -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; 三峡大学启明星工作室 2020 - 鄂ICP备15002584号</span>
                        </div>
                    </div>
                </footer>
                <!--页脚也就这么点点-->

            </div>
            <!-- 总内容也就这么多了-->

        </div>
        <!--主体的区域结束了，接下来就是弹窗的div等部分-->

        <!-- 回到最上-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!--删除提示-->
        <div class="modal fade" id="deleteInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-center items-center">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-danger" id="exampleModalLabel"><i class="fas fa-exclamation-circle mr-1"></i>注意！</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body m-0">删除该层回帖将导致该层的楼中楼回复一并删除，是否继续？</div>

                    <div class="modal-footer" id="deleteInfoFooter">
                        <!--                                                          这个命令可以开关这个div-->


                    </div>

                </div>
            </div>
        </div>




        <script>
            // 如果resize运行优先级大于th:text的话，改成这个应该问题不大
            // $('#postsLikesBtn').html("取消关注"+' | <span class="badge align-text-bottom" ' +
            //                      'style="font-size: 14px;" th:text="${posting.getLikes()}"></span>');
            // $(window).resize(function() {
            //     $.post("某个url" , function (data) {
            //         let msg  = data.msg;
            //         if(msg==="该贴已经关注"){
            //             // $.post() 这里需要去修改posting表中的likes数据的接口
            //             $('#postsLikesBtn').html("取消关注"+' | <span class="badge align-text-bottom" ' +
            //                 'style="font-size: 14px;">'+$('#postsLikesBtn span').text()+'</span>');
            //         }
            //         else if(msg==="该贴尚未关注"){
            //             nowLikesNum--;
            //             $('#postsLikesBtn').html("关注本帖"+' | <span class="badge align-text-bottom" ' +
            //                 'style="font-size: 14px;">'+$('#postsLikesBtn span').text()+'</span>');
            //         }
            //     });
            // });
            function commentThisPosting(obj){
                $(obj).addClass("d-none");
                $('#commentThisPostArea').removeClass("d-none");
            }
            function collectedOrNot () {
                let userid = $('#userID').text();
                let postingid = $('#postID').text();
                let nowLikesNum = $('#postsLikesBtn span').text();
                $.get("/collectionornot?userid="+userid+"&postingid="+postingid,function (data){
                    if(data.msg==="已关注"){
                        $('#postsLikesBtn').removeClass("btn-success").addClass("btn-dark").html("取消关注" + ' | <span class="badge align-text-bottom" ' +
                            'style="font-size: 14px;">' + nowLikesNum + '</span>');
                    }
                });
            }
            function likesThisPost() {
                let userid = $('#userID').text();
                let username = $('#userName').text();
                let postingid = $('#postID').text();
                let nowLikesNum = $('#postsLikesBtn span').text();
                $.post("/collection?userid=" + userid + "&username=" + username + "&postingid=" + postingid, function (data) {
                    let msg = data.msg;
                    if (msg === "关注成功") {
                        nowLikesNum++;
                        // $.post() 这里需要去修改posting表中的likes数据的接口
                        // 现在只有联立表中的数据可以更新
                        $('#postsLikesBtn').removeClass("btn-success").addClass("btn-dark").html("取消关注" + ' | <span class="badge align-text-bottom" ' +
                            'style="font-size: 14px;">' + nowLikesNum + '</span>');
                    } else if (msg === "取消关注") {
                        nowLikesNum--;
                        $('#postsLikesBtn').removeClass("btn-dark").addClass("btn-success").html("关注本帖" + ' | <span class="badge align-text-bottom" ' +
                            'style="font-size: 14px;">' + nowLikesNum + '</span>');
                    }
                });
            }
            function like(obj,type,commentid,userid,username){
                $.post("/commentlike?userid=" + userid + "&username=" + username + "&commentid=" + commentid, function (data) {
                    //type 0是comment 1是commenttocomment的现在未添加楼中楼点赞
                    let msg = data.msg;
                    console.log(msg);
                    var nowLikesNum =  $(obj).children('small').text();
                    if (msg === "点赞成功") {
                        nowLikesNum++;
                        $(obj).children('i').removeClass("fa-thumbs-up").addClass("fa-thumbs-down");
                        $(obj).children('small').text(nowLikesNum)
                        $(obj).children('i').text("取消")
                    } else if (msg === "取消点赞") {
                        nowLikesNum--;
                        $(obj).children('i').removeClass("fa-thumbs-down").addClass("fa-thumbs-up");
                        $(obj).children('small').text(nowLikesNum)
                        $(obj).children('i').text("点赞")
                    }
                });
            }
            function follow(obj,userid,username,followid,followname){
                let msg = $(obj).text();
                $.post("/follow?userid=" + userid + "&username=" + username + "&followid=" + followid +"&followname="+followname, function (data) {
                    let msg = data.msg;
                    console.log(msg);
                    if (msg === "关注成功") {
                        $("."+followname).each(function (i, n) {
                            $(this).text("取消关注");
                        })
                    } else if (msg === "取消关注") {
                        $("."+followname).each(function (i, n) {
                            $(this).text("关注");
                        })
                    }
                });
            }
            function openComment(obj) {
                if($(obj).parent().next().is(':hidden')){
                    $(obj).parent().next().show();
                }else{
                    $(obj).parent().next().hide();
                }
            }
            function changeCommentBtn(obj){
                let commentArea = $(obj).parent().next();
                let changeCommentArea = $(commentArea).next();
                let commentStr = $(commentArea).html();
                let inputArea =  $(changeCommentArea).children().first().children().first();
                $(commentArea).removeClass("d-block").addClass("d-none");
                $(changeCommentArea).removeClass("d-none").addClass("d-block");
                $(inputArea).html(commentStr);
                //alert($(commentArea).html());
            }
            function cancelChangeCommentBtn(obj){
                $(obj).parent().parent().prev().removeClass("d-none").addClass("d-block");
                $(obj).parent().parent().removeClass("d-block").addClass("d-none");
            }

            // window.onload=function () {
            //     let Edit = window.wangEditor;
            //     let editorDiv = new Edit('#editDiv');
            //     //alert("已创建编辑框");
            //     editorDiv.create();
            // }
            function updateCommentText(obj){
                let wangEditorStr = "";
                if($(obj).attr("id")==="editDiv"){
                    wangEditorStr = $('#editDiv .w-e-text').html();
                    //alert("评论信息");
                }else if($(obj).attr("id")==="modifyEditDiv"){
                    wangEditorStr = $('#modifyEditDiv .w-e-text').html();
                    //alert("修改信息"+wangEditorStr);
                }
                $(obj).next().html(wangEditorStr);
            }
        </script>

        <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>
        <!-- 自己的js文件-->
        <script th:src="@{/static/js/wangEditor.min.js}"></script>
        <!--这里是jQuery的分页插件，反正就……挺好用的，在前端就可以排序，还可以搜索了-->
        <script th:src="@{/static/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/static/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
        <script>
            // 删除提示
            function deleteInfoFun(obj){
                let deleteATag = $(obj).next();
                let deleteUrl = $(deleteATag).attr('href');
                let deleteFooter = $('#deleteInfoFooter').html();
                deleteFooter='<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button><a class="btn btn-danger" href="'+deleteUrl+'">确定删除</a>';
                $('#deleteInfoFooter').html(deleteFooter);
            }
            function commentThisPosting(){
                $('#commentThisPostBtnArea').addClass("d-none");
                $('#commentThisPostArea').removeClass("d-none");
            }
            function cancelComment(obj){
                $(obj).parent().parent().addClass("d-none");
                $('#commentThisPostBtnArea').removeClass("d-none");
            }
            function modifyThisPosting(){
                $('#commentThisPostBtnArea').addClass("d-none");
                $('#modifyThisPostArea').removeClass("d-none");
                let modifyPostStr = $('#blogContent').html();
                $('#modifyEditDiv .w-e-text').html(modifyPostStr);
            }
        </script>
        <script type="text/javascript">

            var userid =$('#userid').val();
            var username = $('#username').val();
            var postingid = $('#postingid').val();
            $(document).ready(function () {
                let Edit = window.wangEditor;
                let editorDiv = new Edit('#editDiv');
                // alert("已创建编辑框");
                editorDiv.create();

                let modifyEdit = window.wangEditor;
                let modifyEditorDiv = new modifyEdit('#modifyEditDiv');
                modifyEditorDiv.create();

                if($('#userID').text()===$('#thisPageUserID').text() || $('#NowUserClass').text()==="5"){
                    $('#modifyThisPostBtn').removeClass('d-none');
                    // alert("已更改按钮显示"+$('#NowUserClass').text());
                }
                // alert($('#NowUserClass').text());




                function getavatar() {
                    let pathTemp = "../static/img/avatar/icon";
                    let avatars = document.getElementsByClassName("avatar");
                    for (let i = 1; i <= avatars.length; i++) {
                        avatars.item(i - 1).src = pathTemp + (Math.round(Math.random() * 19) + 1) + ".png";
                    }
                }

                function add0(m){return m<10?'0'+m:m }
                function dateformat(timestamp){
                    //timestamp是整数，否则要parseInt转换,不会出现少个0的情况
                    var time = new Date(timestamp);
                    var year = time.getFullYear();
                    var month = time.getMonth()+1;
                    var date = time.getDate();
                    var hours = time.getHours();
                    var minutes = time.getMinutes();
                    var seconds = time.getSeconds();
                    return year+'-'+add0(month)+'-'+add0(date)+' '+add0(hours)+':'+add0(minutes)+':'+add0(seconds);
                }
                let userid = $('#userID').text();
                let username = $('#userName').text();
                let postingid = $('#postID').text();
                var index = 1;
                let CCindex = 1;
                // let adminBtn1=Math.random().toString(36).substr(-10);
                // let adminBtn2=Math.random().toString(36).substr(-10);
                // let adminBtn3=Math.random().toString(36).substr(-10);
                // let adminBtn4=Math.random().toString(36).substr(-10);
                $('#dataTable').DataTable({
                    "ajax": {
                        "url": "/posting/selectPosting?postingid=" + postingid,
                        "dataSrc": "data.commentset",
                    },
                    "columns": [
                        // { "data": "commentcontent" }
                        {
                            "data": "commentcontent.commentcontent",
                            "render": function (data, type, full) {

                                var html =
                                    '<div class="media text-muted pt-3" id="'+full.commentid+'">' +
                                    '<img width="54" height="54" class="avatar mr-2" style="margin-bottom: 10px;margin-top:-16px;"/>' +
                                    '<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="transition: 0.3s all!important;">' +
                                    '<div>' +
                                    '<a class="text-info mr-1" href="/showUser?id=' + full.id + '">'+full.username+'</a>' +
                                    '<strong class="text-gray-dark text-muted" style="opacity: 50%;">'+dateformat(full.commentdate)+'</strong>' +
                                    '</div>' +







                                    '<span class="d-block text-dark comment w-75" id="comment" style="margin-top: 35px;">'+full.commentcontent+'</span>' +

                                    '<span class="d-none mb-2">'+
                                    // 表单在这里
                                    '<form action="/updataComment" method="post">'+
                                    '<textarea rows="4" name="commentcontent" class="form-control w-50 mb-1"></textarea>'+
                                    '<button type="submit" class="btn btn-success btn-sm text-light mr-1">确定修改</button>'+
                                    '<button type="button" class="btn btn-secondary btn-sm" onclick="cancelChangeCommentBtn(this);">取消修改</button>'+
                                    '<input name="commentid" value="'+full.commentid+'"; style="display: none">'+
                                    '<input name="postingid" value="'+postingid+'"; style="display: none">'+
                                    '</form>'+
                                    '</span>'+

                                    '<div>' +
                                    '<button class="btn btn-sm btn-outline-dark mr-1" onclick="like(this,0,'+full.commentid+','+userid+',\''+username+'\')">';

                                    followset = full.likesset;
                                    flag = 0;
                                    for(i = 0; i < followset.length; i++){
                                        if(userid == followset[i]){
                                            flag = 1;
                                            break;
                                        }
                                    }
                                    if(flag == 1){
                                        html+='<i class="fas fa-thumbs-down mr-1">取消';
                                    }else{
                                        html+='<i class="fas fa-thumbs-up mr-1">点赞';
                                    }
                                    html+='</i> | <small>'+full.likes+'</small>' +
                                    '</button>' +
                                    '<button class="btn btn-sm btn-outline-info" onclick="openComment(this)"><i class="fas fa-comment"></i> | ' +
                                    '<small>'+full.commenttocommentnum+'</small></button>' +


                                        '<span class="mr-1 animated--grow-in">'+
                                        '<span class="ml-1 mr-1 btn btn-sm btn-outline-secondary" onclick="openOptBtn(this);"><i class="fas fa-toggle-off"></i></span>'+
                                        '</span>'+

                                    '<span class="d-none animated--grow-in">' +
                                    '<button class="ml-1 btn btn-sm btn-success mr-1" style="position: relative;right: 6px;" ' +
                                    ' onclick="f('+index+','+full.id+',\''+full.username+'\')">回复TA</button>';
                                var followset = full.followset;
                                var flag = 0;
                                for(var i = 0; i < followset.length; i++){
                                    if(userid == followset[i]){
                                        flag = 1;
                                        break;
                                    }
                                }
                                if(flag == 1){
                                    html+= '<button class="ml-1 btn btn-sm btn-success align-self-center mx-auto '+full.username+'" href="#" onclick="follow(this,'+userid+',\''+username+'\','+full.id+',\''+full.username+'\')">取消关注</button>';
                                }else{
                                    html += '<button class="ml-1 btn btn-sm btn-success align-self-center mx-auto '+full.username+'" href="#" onclick="follow(this,'+userid+',\''+username+'\','+full.id+',\''+full.username+'\')">关注</button>';
                                }
                                // '<a class="ml-1 btn-sm btn-info change float-right w-auto" href="/updataComment?commentid='+full.commentid+'">修改</a>' +
                                html+='<button id="adminBtn1'+index+'" class="d-none ml-1 btn btn-sm btn-info change w-auto" onclick="changeCommentBtn(this);">修改</button>' +
                                    '<button  id="adminBtn2'+index+'" class="ml-1 btn btn-sm btn-danger delete" onclick="deleteInfoFun(this);"  data-toggle="modal" data-target="#deleteInfo">删除</button>' +
                                    '<a class="d-none ml-1 btn-sm btn-danger delete" href="/deleteComment?commentid='+full.commentid+'">删除</a>' +
                                    '<a class="d-none ml-1 btn-sm btn-danger delete" href="/deleteComment?commentid='+full.commentid+'"><i class="fa fa-close"></i></a>' +
                                    //'</div>' +

                                    '</span>' +
                                    '<!--        楼中楼评论-->' +
                                    '<div class="mt-3 animated--grow-in" style="height: auto;overflow: hidden;transition: 0.3s all!important;">' +

                                    '<div class="my-3 p-3 bg-white rounded shadow-sm">';

                                var commentnum = full.commenttocommentnum;
                                for(var i = 0; i < commentnum; i++){
                                    html+='<!--      另一个评论区块-->' +
                                        '<div class="media text-muted pt-3" id="l'+full.commenttocommentset[i].commentid+'">' +
                                        '<img width="54" height="54" class="avatar mr-2" style="margin-bottom: 10px;margin-top:-16px;"/>' +
                                        '<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">' +
                                        '<div style="font-size:12px;">' +
                                        '<a class="text-info mr-1" href="/showUser?id=' + full.commenttocommentset[i].userid + '">'+full.commenttocommentset[i].username+'</a>' +
                                        '<strong class="text-primary text-muted mr-1" style="opacity: 75%;">回复：<a href="#">@'+full.commenttocommentset[i].tousername+'</a></strong>' +
                                        '<strong class="text-gray-dark text-muted mr-1" style="opacity: 50%;">'+dateformat(full.commenttocommentset[i].commentdate)+'</strong>' +
                                        '</div>' +

                                        '<div class="d-flex float-right mr-1 align-content-center align-self-center mx-auto justify-content-center animated--grow-in">'+
                                        '<span class="ml-1 mb-1 btn btn-sm btn-outline-secondary" onclick="openOptBtn(this);"><i class="fas fa-toggle-off"></i></span>'+
                                        '</div>'+

                                        '<div class="d-none float-right align-content-center align-self-center mx-auto justify-content-center">' +
                                        '<button style="position: relative;right: 6px;" class="btn btn-sm btn-success float-right align-self-center mx-auto text-light" onclick="f('+index+','+full.commenttocommentset[i].userid+',\''+full.commenttocommentset[i].username+'\')">回复TA</button>';
                                        var followset0 = full.commenttocommentset[i].followset;
                                        var flag0 = 0;
                                        for(var j  = 0; j < followset0.length; j++){
                                            if(userid == followset0[j]){
                                                flag0 = 1;
                                                break;
                                            }
                                        }
                                        if(flag0 == 1){
                                           html+='<button class="ml-1 btn btn-sm btn-success float-right align-self-center mx-auto '+full.commenttocommentset[i].username+'" href="#" onclick="follow(this,'+userid+',\''+username+'\','+full.commenttocommentset[i].userid+',\''+full.commenttocommentset[i].username+'\')">取消关注</button>';
                                       }else{
                                            html+='<button class="ml-1 btn btn-sm btn-success float-right align-self-center mx-auto '+full.commenttocommentset[i].username+'" href="#" onclick="follow(this,'+userid+',\''+username+'\','+full.commenttocommentset[i].userid+',\''+full.commenttocommentset[i].username+'\')">关注</button>';
                                        }
                                        html+=
                                        '<button id="adminBtn3'+CCindex+'" class="d-none ml-1 btn btn-sm btn-info change float-right w-auto" onclick="changeCommentBtn(this);">修改</button>' +
                                        // '<button class="ml-1 btn btn-sm btn-info change float-right w-auto" href="/updataCommenttocomment?commentid='+full.commenttocommentset[i].commentid+'&postingid='+postingid+'">修改</button>' +
                                        '<a id="adminBtn4'+CCindex+'" class="d-none ml-1 btn-sm btn-danger delete float-right" href="/deleteCommenttocomment?commentid='+full.commenttocommentset[i].commentid+'&postingid='+postingid+'">删除</a>' +
                                        '</div>' +
                                        '<span class="d-block text-dark comment w-75" style="font-size: 14px; margin-top: 35px;">'+full.commenttocommentset[i].commentcontent+'</span>' +
                                        '<span class="d-none">'+
                                        // 表单在这里
                                        '<form action="/updataCommenttocomment" method="post">'+
                                        '<textarea rows="4" class="form-control w-50 mb-1" name="commentcontent"></textarea>'+
                                        '<button type="submit" class="btn btn-success btn-sm text-light mr-1">确定修改</button>'+
                                        '<button type="button" class="btn btn-secondary btn-sm" onclick="cancelChangeCommentBtn(this);">取消修改</button>'+
                                        '<input name="commentid" value="'+full.commenttocommentset[i].commentid+'"; style="display: none">'+
                                        '<input name="postingid" value="'+postingid+'"; style="display: none">'+
                                        '</form>'+
                                        '</span>'+
                                        '</div>' +
                                        '</div>' +
                                        '<!--一个评论区块结束-->';
                                    CCindex++;

                                }
                                html+= '<div id="CCArea" class="mt-2 animated--grow-in">' +
                                    '<form action="/addCommenttocomment?type=1&postingid='+postingid+'&tocommentid='+full.commentid+'&userid='+userid+'&username='+username+'" method="post">' +
                                    '<input id="inputid'+index+'" class="form-control" type="text" name="touserid" value="'+full.id+'" style="display: none">' +
                                    '<input id="inputname'+index+'" class="form-control" type="text" name="tousername" value="'+full.username+'" style="display: none">' +
                                    '<input id="inputtext'+index+'" class="form-control" type="text" name="commentcontent" placeholder="评论一下...">' +
                                    '<button class="btn btn-sm btn-success mt-2" type="submit">评论</button>' +
                                    '<button class="ml-1 btn btn-sm btn-dark mt-2">取消</button>' +
                                    '</form>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '<!--          楼中楼评论-->' +
                                    '</div>' +
                                    '</div>'
                                    getavatar();
                                index++;
                                if($('#NowUserClass').text()==="5"){
                                    //alert(index);
                                    for(let i=1;i<=index;i++){
                                        $('#'+"adminBtn1"+i).removeClass('d-none');
                                        //alert($('#'+"adminBtn"+i).html());
                                        $('#'+'adminBtn2'+i).removeClass('d-none');
                                        for(let j=1;j<=CCindex;j++){
                                            $('#'+'adminBtn3'+j).removeClass('d-none');
                                            $('#'+'adminBtn4'+j).removeClass('d-none');
                                        }
                                    }
                                }

                                if($('#userID').text()===$('#thisPageUserID').text()){
                                    for(let i=1;i<=index;i++){
                                        $('#'+'adminBtn2'+i).removeClass('d-none');
                                        for(let j=1;j<=CCindex;j++){
                                            $('#'+'adminBtn4'+j).removeClass('d-none');
                                        }
                                    }
                                }
                                return html;
                            }
                        }
                    ],
                });
            });



            function  f(index,id,name) {
                var idurl = "inputid" + index;
                var nameurl = "inputname" + index;
                var texturl = "inputtext" + index;
                $('#'+idurl).val(id);
                $('#'+nameurl).val(name);
                $('#'+texturl).attr("placeholder","@"+name);
            }
        </script>
        <script>
            function updateMessage(){
                $.ajax({
                    type: "GET",
                    url: "/message/selectAll",
                    success: function (data) {
                        var s1 = data.messageList;
                        $('#messageNum').html(s1.length);
                        var html = "";
                        for (let i = 0; i < s1.length; i++) {
                            html +=
                                '<a  class="dropdown-item d-flex align-items-center"  onclick="return deletemessage('+s1[i].id+')" href="' + s1[i].herf + '" >' +
                                '<div class="mr-3" >' +
                                '<div class="icon-circle bg-primary">' +
                                '<i class="fas fa-file-alt text-white"></i>' +
                                '</div>' +
                                '</div>' +
                                '<div>' +
                                '<div class="small text-gray-500">' + dateformat(s1[i].date) + '</div>' +
                                ' <span class="font-weight-bold">' + s1[i].title + '</span>' +
                                '</div>' +
                                '</a>';
                        }
                        $('#messageContent').html(html);
                    }
                });
            }
            function deletemessage(messageid){
                console.log("??????????");
                console.log(messageid);
                $.ajax({
                    type: "GET",
                    url: "/message/deleteById?id="+messageid,
                    success: function (data) {
                        updateMessage();
                        return true;
                    }
                });
            }
            function deleteAll(){
                $.ajax({
                    type: "GET",
                    url: "/message/deleteByUserId",
                    success: function (data) {
                        updateMessage();
                    }
                });
            }
            function add0(m) {
                return m < 10 ? '0' + m : m
            }

            function dateformat(timestamp) {
                //timestamp是整数，否则要parseInt转换,不会出现少个0的情况
                var time = new Date(timestamp);
                var year = time.getFullYear();
                var month = time.getMonth() + 1;
                var date = time.getDate();
                var hours = time.getHours();
                var minutes = time.getMinutes();
                var seconds = time.getSeconds();
                return year + '-' + add0(month) + '-' + add0(date) + ' ' + add0(hours) + ':' + add0(minutes) + ':' + add0(seconds);
            }
            function openOptBtn(obj){
                if($(obj).hasClass('btn-outline-secondary')){
                    $(obj).removeClass('btn-outline-secondary').addClass('btn-outline-success');
                    $(obj).children().first().removeClass('fa-toggle-off').addClass('fa-toggle-on');
                    $(obj).parent().next().removeClass('d-none');
                }else{
                    $(obj).addClass('btn-outline-secondary').removeClass('btn-outline-success');
                    $(obj).children().first().addClass('fa-toggle-off').removeClass('fa-toggle-on');
                    $(obj).parent().next().addClass('d-none');
                }
            }
            function scrollToId(id) {
                console.log(id);
                // $("html,body").animate({scrollTop:$("#" + id).offset().top}, 800);
                //800是滑动动画持续时间
                $('html, body').stop().animate({
                    scrollTop: ($($id.attr(id)).offset().top)
                }, 1000, 'easeInOutExpo');
            }
            function getQueryString(name){
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r!=null) return r[2]; return '';
            }
            (function ($) {
                "use strict";
                updateMessage();
                // 侧边栏导航的开合
                $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
                    $("body").toggleClass("sidebar-toggled");
                    $(".sidebar").toggleClass("toggled");
                    if ($(".sidebar").hasClass("toggled")) {
                        $('.sidebar .collapse').collapse('hide');
                    }
                });

                // 当窗口尺寸小于768px等等条件时，缩小侧边栏以及下拉菜单或者搜索栏等等
                $(window).resize(function () {
                    if ($(window).width() < 1380) {
                        $('.sidebar .collapse').collapse('hide');
                    }

                    // 窗口尺寸小于480px等等条件时，关闭侧边栏以及下拉菜单或者搜索栏等等
                    if ($(window).width() < 1375 && !$(".sidebar").hasClass("toggled")) {
                        $("body").addClass("sidebar-toggled");
                        $(".sidebar").addClass("toggled");
                        $('.sidebar .collapse').collapse('hide');
                    }
                    if ($(window).width() < 1600) {
                        $(".sidebar").addClass("toggled");
                    } else {
                        $(".sidebar").removeClass("toggled");
                    }
                });

                // 当侧边导航栏被固定的时候，防止滑动页面时出排版bug
                $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function (e) {
                    if ($(window).width() > 920) {
                        var e0 = e.originalEvent,
                            delta = e0.wheelDelta || -e0.detail;
                        this.scrollTop += (delta < 0 ? 1 : -1) * 30;
                        e.preventDefault();
                    }
                });

                // 滚动到顶部按钮的浮现
                $(document).on('scroll', function () {
                    var scrollDistance = $(this).scrollTop();
                    if (scrollDistance > 100) {
                        $('.scroll-to-top').fadeIn();
                    } else {
                        $('.scroll-to-top').fadeOut();
                    }
                });
                // 搭配jQuery实现返回顶部平滑的移动
                $(document).on('click', 'a.scroll-to-top', function (e) {
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: ($($anchor.attr('href')).offset().top)
                    }, 1000, 'easeInOutExpo');
                    e.preventDefault();
                });
                // 当未读取用户名时隐藏整个用户信息
                $(function () {
                    if (!$('#userName').html()) {
                        $('#user-area,#newEmailButton,#newMsgButton').hide();
                        $('#login-button').show();
                        $('#checkIn').hide();
                    } else {
                        $('#checkIn').show();
                        $('#login-button').hide();
                    }
                });
                $('#sidebarToggleTop').hide();
                var myid = getQueryString("commentid");
                console.log(myid);
                scrollToId(myid);
            })(jQuery);


        </script>

    </body>

</html>
<!--var html =-->
<!--'<div class="media text-muted pt-3">' +-->
<!--    '<img width="54" height="54" class="avatar mr-2" style="margin-bottom: 10px;"/>' +-->
<!--    '<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="transition: 0.3s all!important;">' +-->
<!--        '<div>' +-->
<!--            '<strong class="text-info">'+full.username+'</strong> ||' +-->
<!--            '<strong class="text-gray-dark text-muted" style="opacity: 50%;">'+full.commentdate+'</strong>' +-->
<!--            '</div>' +-->
<!--        '<div class="d-flex float-right align-content-center align-self-center mx-auto justify-content-center">' +-->
<!--            '<a class="btn btn-sm btn-success float-right align-self-center mx-auto" href="#">关注</a>' +-->
<!--            '<a class="ml-1 btn-sm btn-info change float-right w-auto" href="/comment/update?commentid=<%=comment.getCommentid()%>">修改</a>' +-->
<!--            '<a class="ml-1 btn-sm btn-danger delete float-right" href="/comment/delete?commentid=<%=comment.getCommentid()%>">删除</a>' +-->
<!--            '</div>' +-->
<!--        '<span class="d-block text-dark mt-1 comment" id="comment">'+full.commentcontent+'</span>' +-->
<!--        '<div>' +-->
<!--            '<button class="btn btn-sm btn-outline-dark"><i class="fas fa-thumbs-up"></i> | <small>12</small>' +-->
<!--                '</button>' +-->
<!--            '<button class="btn btn-sm btn-outline-dark"><i class="fas fa-thumbs-down"></i></button>' +-->
<!--            '<button class="btn btn-sm btn-outline-dark"><i class="fas fa-star"></i> 收藏</button>' +-->
<!--            '<button class="btn btn-sm btn-outline-info" onclick="openComment(this)"><i class="fas fa-comment"></i> |' +-->
<!--                '<small>2</small></button>' +-->
<!--            '</div>' +-->

<!--        '&lt;!&ndash;        楼中楼评论&ndash;&gt;' +-->
<!--        '<div class="mt-3 animated&#45;&#45;grow-in" style="height: auto;overflow: hidden;transition: 0.3s all!important;">' +-->

<!--            '<div class="my-3 p-3 bg-white rounded shadow-sm">' +-->

<!--                '&lt;!&ndash;      另一个评论区块&ndash;&gt;' +-->
<!--                '<div class="media text-muted pt-3">' +-->
<!--                    '<img width="54" height="54" class="avatar mr-2" style="margin-bottom: 10px;"/>' +-->
<!--                    '<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">' +-->
<!--                        '<div>' +-->
<!--                            '<strong class="text-info">satelliter63</strong> ||' +-->
<!--                            '<strong class="ttext-gray-dark text-muted" style="opacity: 75%;">回复：<a href="#">@管理员</a></strong> ||' +-->
<!--                            '<strong class="text-gray-dark text-muted" style="opacity: 50%;">回复时间</strong>' +-->
<!--                            '</div>' +-->
<!--                        '<div class="d-flex float-right align-content-center align-self-center mx-auto justify-content-center">' +-->
<!--                            '<a class="btn btn-sm btn-success float-right align-self-center mx-auto" href="#">回复此人</a>' +-->
<!--                            '<a class="ml-1 btn-sm btn-info change float-right w-auto"href="/comment/update?commentid=<%=comment.getCommentid()%>">修改</a>' +-->
<!--                            '<a class="ml-1 btn-sm btn-danger delete float-right" href="/comment/delete?commentid=<%=comment.getCommentid()%>">删除</a>' +-->
<!--                            '</div>' +-->
<!--                        '<span class="d-block text-dark mt-1 comment">阿巴阿巴~活捉野生管理员</span>' +-->
<!--                        '</div>' +-->
<!--                    '</div>' +-->
<!--                '&lt;!&ndash;一个评论区块结束&ndash;&gt;' +-->
<!--                '<div class="mt-2">' +-->
<!--                    '<input class="form-control" type="text" name="commentcontent" placeholder="评论一下...">' +-->
<!--                    '<button class="btn btn-sm btn-success mt-2">评论</button>' +-->
<!--                    '<button class="btn btn-sm btn-dark mt-2">取消</button>' +-->
<!--                    '</div>' +-->
<!--                '</div>' +-->
<!--            '</div>' +-->
<!--        '&lt;!&ndash;          楼中楼评论&ndash;&gt;' +-->
<!--        '</div>' +-->
<!--    '</div>' +-->
<!-- 自己的js文件-->
