<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
    <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">

    <title>软件组帖子</title>

    <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/css/bootstrap/bootstrap-directional-buttons.css}" rel="stylesheet" type="text/css">
    <style>
        /*去除a标签的所有效果*/
        /*包含以下四种的链接*/
        a {
            text-decoration: none;
        }
        /*正常的未被访问过的链接*/
        a:link {
            text-decoration: none;
        }
        /*已经访问过的链接*/
        a:visited {
            text-decoration: none;
        }
        /*鼠标划过(停留)的链接*/
        a:hover {
            text-decoration: none;
        }
        /* 正在点击的链接*/
        a:active {
            text-decoration: none;
        }
    </style>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        img{
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
        /*响应String中的回车符*/
        #blogContent{
            white-space: pre-line;
        }
        #blogContent iframe{
            display: inline-block;
            height: 720px;
            max-width: 100%;
            width: 1080px;
        }
        #comment{
            white-space: pre-line;
        }
        #comment img{
            display: inline-block;
            height: auto;
            max-width: 20%;
        }
        .w-e-toolbar{
            flex-wrap:wrap;
        }
    </style>
</head>

<body id="page-top">

<!-- 页面整体 -->
<div id="wrapper">

    <!-- 侧边栏 -->
<!--    <div th:replace="commonModule/module::sideBar(active='webGroupBtn1')"></div>-->
    <!-- 侧边栏到此为止啦 -->

    <!-- 接下来是主内容区域 -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- 主内容 -->
        <div id="content">

            <!-- 顶部头条内容 -->
            <div th:replace="commonModule/module::navBar"></div>
            <!-- 顶栏到此为止 -->

            <!-- 主页内容 -->
            <div class="container-fluid">
                <div class="card-header text-nowrap" style="margin-left: -20px;">
                    <button class="btn btn-primary" id="showNewestPostBtn" onclick="showNewest()">最新的帖子</button>
                    <button class="btn btn-secondary" id="showHottestPostBtn" onclick="showHottest()">最热门的帖子</button>
                    <button class="btn btn-secondary" id="showMyFavoritePostBtn" onclick="showMyFavorite()">我关注的帖子</button>
                    <a class="btn btn-success ml-3 toPostDiv" id="addPost" href="#postDiv">我要发帖</a>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <!--统计卡片-->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="display: none">隐藏排序字段</th>
                                    <th>帖子内容</th>
                                </tr>
                                </thead>
                                <tbody id="listcontent"></tbody>
                            </table>
                        </div>
                        <!--一个统计区块-->
                    </div>
                    <div class="col-lg-3 animated--grow-in" id="postTagsArea">
                        <div class="col text-nowrap" style="margin-top: 85px;">
                            <!-- 这是一个右侧导航的区块-->
                            <div class="shadow">
                                <div class="card-header border-bottom-info bg-white">
                                    <i class="fas fa-list-ul"></i>
                                    <small class="h5"> 帖子分类</small>
                                    <a class="btn btn-sm btn-outline-info float-right" href="#"> 更多>> </a>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <table class="shadow-sm table">
                                            <thead>
                                            <tr></tr>
                                            </thead>
                                            <tbody>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(0)"><i class="fas fa-tag"></i> 常规帖<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum0">0</a></button></td></tr>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(1)"><i class="fas fa-tag"></i> 学习总结<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum1">0</a></button></td></tr>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(2)"><i class="fas fa-tag"></i> 答辩作品<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum2">0</a></button></td></tr>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(3)"><i class="fas fa-tag"></i> 电脑带离<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum3">0</a></button></td></tr>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(4)"><i class="fas fa-tag"></i> 聊天水贴<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum4">0</a></button></td></tr>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(5)"><i class="fas fa-tag"></i> 实习工作<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum5">0</a></button></td></tr>
                                            <tr><td><button class="btn btn-outline-light w-100 text-primary" onclick="searchByTag(6)"><i class="fas fa-tag"></i> 算法总结<a style="opacity: 80%;" class="btn btn-sm btn-success btn-arrow-left float-right" href="#" id="postingclassnum6">0</a></button></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--  一个右侧导航区快结束-->
                        </div>
                    </div>
                </div>



                <!--                这是一个发帖分块-->
                <div class="shadow mt-3 col-xl-12 col-md-12 animated--grow-in mb-5 postDiv" id="postDiv">
<!--                    直接用表单跳转-->
                    <form class="form-group" th:action="@{/addPosting}" method="post">
                        <div class="card-header">
                            <p style="margin-bottom: -10px;"><i class="fas fa-pen"> </i> 发帖</p>
                            <hr/>
                            <div class="form-group row">
                                <input name="id" th:value="${session.loadUser.id}" style="display: none">
                                <input name="username" th:value="${session.loadUser.username}" style="display: none">
                                <div class="col-sm-9">
                                    <input id="postingTitleInput" name="postingtitle" class="form-control form-control-user col-auto" type="text" placeholder="帖子标题">
                                </div>
                                <div class="d-none hidden overflow-hidden">
                                    <input class="hidden" name="username" type="text" th:value="${session.loadUser.username}">
                                    <input class="hidden" name="postingclass" type="text" id="postingClass" value="0">
                                    <textarea class="hidden" name="postingcontent" id="wangEditorContent" type="text"></textarea>
                                </div>

                                <div class="col-sm-2" style="position: relative!important;z-index: 1000000!important;">
                                    <label class="dropdown">
                                        <button id="postingClassBtn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" value="0">请选择帖子分类</button>
                                        <div class="dropdown-menu animated--fade-in">
<!--                                            <small class="text-muted ml-1">开发组:</small>-->
                                            <button type="button" class="dropdown-item" id="item1" onclick="i1()">常规</button>
                                            <button type="button" class="dropdown-item" id="item2" onclick="i2()">学习总结</button>
                                            <button type="button" class="dropdown-item" id="item3" onclick="i3()">答辩作品</button>
                                            <button type="button" class="dropdown-item" id="item4" onclick="i4()">电脑带离</button>
                                            <button type="button" class="dropdown-item" id="item5" onclick="i5()">聊天水贴</button>
                                            <button type="button" class="dropdown-item" id="item6" onclick="i6()">实习工作</button>
                                            <button type="button" class="dropdown-item" id="item7" onclick="i7()">算法总结</button>
    <!--                                        <button type="button" class="dropdown-item" id="item7" onclick="i7()">周任务</button>-->
    <!--                                        <button type="button" class="dropdown-item" id="item8" onclick="i8()">公告</button>-->
                                        </div>
                                    </label>
                                </div>
                                <!--                        这里是富文本编辑器的插件入口-->
                                <div  class="col-sm-9" id="editDiv"></div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-success mb-0" id="submitBtn" onclick="getWangEditorContent()">确定发帖</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--                发帖分块结束-->
            </div>
        </div>
        <!-- 主体内容结束-->

        <!-- 页脚 -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 三峡大学启明星工作室 2020 - 鄂ICP备15002584号</span>
                </div>
            </div>
        </footer>
        <!--页脚也就这么点点-->

    </div>
    <!-- 总内容也就这么多了-->

</div>
<!--主体的区域结束了，接下来就是弹窗的div等部分-->

<!-- 回到最上-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--登出时弹出的窗口-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定退出当前账号？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body m-0">保持登陆以防止错过重要信息</div>
            <div class="modal-body m-0">您确定要这么做吗？</div>

            <div class="modal-footer">
                <!--                                                          这个命令可以开关这个div-->
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="../loginService/login.html">确定</a>
            </div>

        </div>
    </div>
    <input th:value="${session.loadUser.id}" style="display: none" id="tempid">
</div>



<script type="text/javascript">

    function getWangEditorContent() {
        // let wangEditorStr = $('#editDiv[class="w-e-text"]').html();
        let wangEditorStr = $('.w-e-text').html();
        //alert(wangEditorStr);
        $('#wangEditorContent').val(wangEditorStr);
    }

    // let strWG = "开发组:";
    let strWG = "";
    let enterKey = jQuery.Event("keydown");//模拟一个键盘事件
    enterKey.keyCode = 13;//keyCode=13是回车
    function i1(){
        $("#postingClassBtn").html(strWG+$("#item1").text());
        $("#postingClass").val(0);
    }
    function i2(){
        $("#postingClassBtn").html(strWG+$("#item2").text());
        $("#postingClass").val(1);
    }
    function i3(){
        $("#postingClassBtn").html(strWG+$("#item3").text());
        $("#postingClass").val(2);
    }
    function i4(){
        $("#postingClassBtn").html(strWG+$("#item4").text());
        $("#postingClass").val(3);
    }
    function i5(){
        $("#postingClassBtn").html(strWG+$("#item5").text());
        $("#postingClass").val(4);
    }
    function i6(){
        $("#postingClassBtn").html(strWG+$("#item6").text());
        $("#postingClass").val(5);
    }
    function i7(){
        $("#postingClassBtn").html(strWG+$("#item7").text());
        $("#postingClass").val(6);
    }
    function i8(){
        $("#postingClassBtn").html(strWG+$("#item8").text());
        $("#postingClass").val(7);
    }
    function searchByTag(tagClass) {
        switch (tagClass) {
            case 0:$("#dataTable_filter input").trigger("click").trigger("focus").val("常规帖").keyup();break;
            case 1:$("#dataTable_filter input").trigger("click").trigger("focus").val("学习总结").keyup();break;
            case 2:$("#dataTable_filter input").trigger("click").trigger("focus").val("答辩作品").keyup();break;
            case 3:$("#dataTable_filter input").trigger("click").trigger("focus").val("电脑带离").keyup();break;
            case 4:$("#dataTable_filter input").trigger("click").trigger("focus").val("聊天水贴").keyup();break;
            case 5:$("#dataTable_filter input").trigger("click").trigger("focus").val("实习工作").keyup();break;
            case 6:$("#dataTable_filter input").trigger("click").trigger("focus").val("算法总结").keyup();break;
            default:
                break;
        }
    }
</script>


<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- 自己的js文件-->
<script th:src="@{/static/js/index.js}"></script>
<!-- 关于表格的js插件 -->
<script th:src="@{/static/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/static/js/wangEditor.min.js}"></script>

<!--这里是jQuery的分页插件，反正就……挺好用的，在前端就可以排序，还可以搜索了-->
<script th:src="@{/static/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<script type="text/javascript" th:inline="none">

    $('#searchPostArea').bind("input propertychange",function(event){
         let searchContent = $('#searchPostArea').val();
         $("#dataTable_filter input").trigger("click").trigger("focus").val(searchContent).keyup();
    });
    //这里【【】】会被认thymeleaf
    let sortFlag=0;
  $(document).ready(function() {
      if($('#NowUserClass').text()==="2"){
          $('#postingTitleInput').val("【开发组】帖子标题");
      }else if($('#NowUserClass').text()==="3"){
          $('#postingTitleInput').val("【硬件组】帖子标题");
      }
      // 移仓侧边栏时候，连开关按钮一并隐藏
      $('#sidebarToggleTop').hide();

      $.ajax({
          type: "GET",
          url: "/postingmessage",
          success: function(data){
              for(var i = 0; i < 7; i++){
                  var s1 = data.postingclasses[i].postingclassnum;
                  $('#postingclassnum'+i).text(s1);
              }
          }
      });
        // fun();
        let Edit = window.wangEditor;
        let editorDiv = new Edit('#editDiv');
        // alert("已创建编辑框");
        editorDiv.create();
        showNewest();
    });
    //updatatable("dataTable","updatadate",'"/posting/selectAllPosting"',"data",5);
    function showNewest() {
        updatatable("dataTable","updatadate","/posting/selectAllPosting","data",5);
        $("#showNewestPostBtn").removeClass("btn-secondary").addClass("btn-primary");
        $("#showHottestPostBtn,#showMyFavoritePostBtn").removeClass("btn-primary").addClass("btn-secondary");
        $("#postTagsArea").show();
    }
    function showHottest() {
        updatatable("dataTable","commentnum","/posting/selectAllPosting","data",5);
        $("#showHottestPostBtn").removeClass("btn-secondary").addClass("btn-primary");
        $("#showNewestPostBtn,#showMyFavoritePostBtn").removeClass("btn-primary").addClass("btn-secondary");
        $("#postTagsArea").show();
    }
    function showMyFavorite() {
        var userid = "/user/selectUser?id=" + $('#tempid').val();
        updatatable("dataTable","postingid",userid,"user.collectionset",5);
        $("#showMyFavoritePostBtn").removeClass("btn-secondary").addClass("btn-primary");
        $("#showHottestPostBtn,#showNewestPostBtn").removeClass("btn-primary").addClass("btn-secondary");
        $("#postTagsArea").hide();
    }
    function updatatable(tableid,sortway,ajaxurl,datasrc,size) {
        $('#'+tableid).DataTable({
            "Processing": true,
             "destroy" : true,
            'iDisplayLength': size,


            "bDeferRender": true,  //提高速度

            "ajax":{
                "url":ajaxurl,
                "dataSrc": datasrc,
            },
            "columnDefs": [{
                "targets": [0], //隐藏第0列，从du第0列开始zhi
                "visible": false
            }],
            "columns": [
                {"data": sortway, "orderable": false},
                {
                    "data": "postingid",
                    "render": function (data, type, full) {
                        let postingclassNum = full.postingclass;
                        let strPC = "";
                        switch (postingclassNum) {
                            case 0:
                                strPC = "常规帖";
                                break;
                            case 1:
                                strPC = "学习总结";
                                break;
                            case 2:
                                strPC = "答辩作品";
                                break;
                            case 3:
                                strPC = "电脑带离";
                                break;
                            case 4:
                                strPC = "聊天水贴";
                                break;
                            case 5:
                                strPC = "实习工作";
                                break;
                            case 6:
                                strPC = "算法总结";
                                break;
                            default:
                                strPC = "常规帖";
                                break;
                        }
                        var html =
                            '<div class="row mt-0 card-body animated--grow-in">' +
                            '<div class="col-xl-12 col-md-12 mb-1">' +
                            '<div class="card border-left-primary shadow h-100 py-2">' +
                            '<div class="card-body">' +
                            '<div class="row no-gutters align-items-center">' +
                            '<div class="mr-2">' +
                            '<div class="list-inline">' +
                            '<span class="badge badge-pill bg-light align-text-bottom">' + full.collectionnum + ' | 关注</span><br/>' +
                            '<span class="badge badge-pill bg-info align-text-bottom text-light">' + full.commentnum + ' | 回复</span><br/>' +
                            '<span class="badge badge-pill bg-light align-text-bottom">0 | 阅读</span><br/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col mr-auto">' +
                            '<a href="/showPosting?type=1&postingid=' + full.postingid + '" class="font-weight-bold text-primary h5 mb-1 ml-2">' + full.postingtitle + '</a>' +
                            '<div class="mb-0 font-weight-bold text-gray-800 ml-2">' +
                            '<a class="text-info" href="/showUser?id=' + full.id + '" >' + full.username + '</a>' +
                            '<small class="ml-1">发帖时间：' + dateformat(full.postingdate) + '</small>' +
                            '</div>' +
                            '<div class="mb-0 font-weight-bold text-gray-800 ml-2">' +
                            '<a class="text-info" href="#">最后回帖人ID</a>' +
                            '<small class="ml-1">' + dateformat(full.updatadate) + '</small>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-auto text-center">' +
                            '<i class="fas fa-comment-dots fa-2x text-primary d-block"></i>' + '<small class="text-primary mt-2">' + strPC + '</small>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        return html;
                    }
                }
            ],
            order: [[0, "desc"]]
        });
        $("#dataTable_filter").hide();
        $("#dataTable_length").addClass("text-nowrap");
        let sortBtn = $("#dataTable").children().first().children().first().children().first();
        // let sortBtnStr =  $(sortBtn).html();
        let sortBtnStr =  "帖子内容";
        $(sortBtn).html(sortBtnStr + '<small class="float-right btn btn-sm btn-outline-secondary" style="cursor: pointer;">切换为倒序排列</small>');
        $(sortBtn).click(function (){
            // alert("切换排序");
            if(sortFlag===0){
                sortFlag=1;
                $(sortBtn).html(sortBtnStr + '<small class="float-right btn btn-sm btn-outline-secondary" style="cursor: pointer;">切换为正序排列</small>');
            }else{
                sortFlag=0;
                $(sortBtn).html(sortBtnStr + '<small class="float-right btn btn-sm btn-outline-secondary" style="cursor: pointer;">切换为倒序排列</small>');
            }
        });
    }
    function add0(m){return m<10?'0'+m:m }
    function dateformat(timestamp){
        //timestamp是整数，否则要parseInt转换,不会出现少个0的情况
        var time = new Date(timestamp);
        var year = time.getFullYear();
        var month = time.getMonth()+1;
        var date = time.getDate();
        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();
        return year+'-'+add0(month)+'-'+add0(date)+' '+add0(hours)+':'+add0(minutes)+':'+add0(seconds);
    }
</script>

</body>

</html>
