<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
    <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">

    <title>我的账号</title>

    <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet">
    <style>
        /*去除a标签的所有效果*/
        /*包含以下四种的链接*/
        a {
            text-decoration: none;
        }
        /*正常的未被访问过的链接*/
        a:link {
            text-decoration: none;
        }
        /*已经访问过的链接*/
        a:visited {
            text-decoration: none;
        }
        /*鼠标划过(停留)的链接*/
        a:hover {
            text-decoration: none;
        }
        /* 正在点击的链接*/
        a:active {
            text-decoration: none;
        }
        td{
            margin-bottom: 18px;
        }
    </style>
</head>

<body class="bg-light">
<div id="wrapper">

    <!-- 侧边栏 -->
    <div th:replace="commonModule/profileModule::profileSideBar(active='security_setting')"></div>
    <!-- 侧边栏到此为止啦 -->

    <!-- 接下来是主内容区域 -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- 主内容 -->
        <div id="content">

            <!-- 顶部头条内容 -->
            <div th:replace="commonModule/module::navBar"></div>
            <!-- 顶栏到此为止 -->

            <!-- 主页内容 -->
            <div class="container-fluid">



            </div>

            <!-- 统计卡片结束-->

            <div class="row">
                <div class="col-xl-8 col-lg-8 ml-4  animated--grow-in">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-lock"></i> 安全设置</h6>
                            <!--                  下拉菜单-->
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink1">
                                    <a class="dropdown-item" href="#">刷新</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body row" id="accountBasicInfo">
                            <table class="col-lg-8">
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="float-right">请输入旧密码：</td>
                                    <td><input class="form-control form-control-user  w-75" placeholder="" value=""></td>
                                </tr>
                                <tr>
                                    <td class="float-right">请输入新密码：</td>
                                    <td><input class="form-control form-control-user  w-75" placeholder="" value=""></td>
                                </tr>
                                <tr>
                                    <td class="float-right">请重复新密码：</td>
                                    <td><input class="form-control form-control-user  w-75" placeholder="" value=""></td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>
                <!--这个表格区域结束-->


            </div>

            <div class="col-lg-2 ml-4 mb-3">
                <button class="btn btn-success">保存信息</button>
            </div>

        </div>
        <!-- 页脚 -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 三峡大学启明星工作室 2020 - 鄂ICP备15002584号</span>
                </div>
            </div>
        </footer>
        <!--页脚也就这么点点-->
    </div>
    <!-- 主体内容结束-->

</div>


<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--登出时弹出的窗口-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确定退出当前账号？</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body m-0">保持登陆以防止错过重要信息</div>
            <div class="modal-body m-0">您确定要这么做吗？</div>

            <div class="modal-footer">
                <!--                                                          这个命令可以开关这个div-->
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-info" th:href="@{login.html}">确定</a>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script>
    (function($) {
        "use strict";

        // 侧边栏导航的开合
        $("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
            $("body").toggleClass("sidebar-toggled");
            $(".sidebar").toggleClass("toggled");
            if ($(".sidebar").hasClass("toggled")) {
                $('.sidebar .collapse').collapse('hide');
            };
        });

        // 当窗口尺寸小于768px等等条件时，缩小侧边栏以及下拉菜单或者搜索栏等等
        $(window).resize(function() {
            if ($(window).width() < 920) {
                $('.sidebar .collapse').collapse('hide');
            }

            // 窗口尺寸小于480px等等条件时，关闭侧边栏以及下拉菜单或者搜索栏等等
            if ($(window).width() < 720 && !$(".sidebar").hasClass("toggled")) {
                $("body").addClass("sidebar-toggled");
                $(".sidebar").addClass("toggled");
                $('.sidebar .collapse').collapse('hide');
            }
            if ($(window).width() < 1600 ) {
                $(".sidebar").addClass("toggled");
            }else{
                $(".sidebar").removeClass("toggled");
            }
        });

        // 当侧边导航栏被固定的时候，防止滑动页面时出排版bug
        $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function(e) {
            if ($(window).width() > 920) {
                var e0 = e.originalEvent,
                    delta = e0.wheelDelta || -e0.detail;
                this.scrollTop += (delta < 0 ? 1 : -1) * 30;
                e.preventDefault();
            }
        });

        // 滚动到顶部按钮的浮现
        $(document).on('scroll', function() {
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.scroll-to-top').fadeIn();
            } else {
                $('.scroll-to-top').fadeOut();
            }
        });

        // 搭配jQuery实现返回顶部平滑的移动
        $(document).on('click', 'a.scroll-to-top', function(e) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: ($($anchor.attr('href')).offset().top)
            }, 1000, 'easeInOutExpo');
            e.preventDefault();
        });

        // 当未读取用户名时隐藏整个用户信息
        $(function() {
            if (!$('#userName').html()) {
                $('#user-area,#newEmailButton,#newMsgButton').hide();
                $('#login-button').show();
                $('#checkIn').hide();
            }else{
                $('#checkIn').show();
                $('#login-button').hide();
            }
        });
    })(jQuery);

</script>

</body>

</html>
