<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
  <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
  <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">
  <title>关于启明星</title>

  <!-- 导入模板css以及字体-->
  <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- 导入自定义模板-->
  <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet">

</head>

<body id="page-top" class="bg-gray-100">


<div th:replace="~{commonModule/module::navBar}"></div>

<div id="wrapper">



  <div id="content-wrapper" class="d-flex flex-column">


    <div id="content">


      <div class="container-fluid">


        <div class="text-center card">
          <div class="card-header">
            <p class="h4 font-weight-bold">关于我们</p>
          </div>
          <div class="mx-auto card-body" >
            <p style="text-indent: 2em;">启明星创新实验室是以三峡大学计算机专业学生为主，
              同时包含部分其他专业但有共同兴趣的同学组成的学生实训工作室。
              其创建的宗旨是以实践为驱动逐步提高我们学习的积极性和主动性，
              增强学生的动手操作能力，进而适应当代计算机专业人才的市场需求。
              启明星工作室的创办给计算机专业的学生提供了良好的环境，将一些同学从寝室游戏中拉了回来，
              让我们找到了前进的方向。从2009年3月成立以来，我们自己管理自己，
              在老一代室员的带领下，我们不断地传承理想。今天“启明星”是我们的骄傲，
              明天我们是“启明星”的骄傲！</p>
            <img src="../../static/img/aboutUsImg.jpg" alt=""><br/>
            <small class="text-muted" style="opacity: 80%;">工作室成果展示</small>
          </div>
        </div>

      </div>


    </div>

  </div>

</div>


<!-- 页脚 -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; 三峡大学启明星工作室 2020 - 鄂ICP备15002584号</span>
    </div>
  </div>
</footer>



<!-- 使用Bootstrap之前必须先引用这两个-->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- 一些js插件-->
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- 自己的js文件-->
<script th:src="@{/static/js/index-min.js}"></script>
<script th:src="@{/static/js/loginCheck.js}"></script>

</body>

</html>

