<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="Shortcut Icon" th:href="@{/static/img/qmx_icon.png}" type="image/x-icon"/>
  <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="32x32" type="image/png">
  <link rel="icon" th:href="@{/static/img/qmx_icon.png}" sizes="16x16" type="image/png">
  <title>联系我们</title>

  <!-- 导入模板css以及字体-->
  <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- 导入自定义模板-->
  <link th:href="@{/static/css/myWeb-min.css}" rel="stylesheet">

</head>

<body id="page-top" class="bg-gray-100">


<div th:replace="~{commonModule/module::navBar}"></div>

<div id="wrapper">



  <div id="content-wrapper" class="d-flex flex-column">


    <div id="content">


      <div class="container-fluid">


        <div class="text-center card">
          <div class="card-header">
            <p class="h4 font-weight-bold">联系我们</p>
          </div>
          <div class="mx-auto card-body" >
            <p>启明星工作室在湖北省三峡大学校内，位于信息科学楼一楼112、114室。</p>
            <p>负责人：胡老师</p>
            <p>电话：13972605144</p>
          </div>
        </div>

      </div>


    </div>

  </div>

</div>


<!-- 页脚 -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; 三峡大学启明星工作室 2020 - 鄂ICP备15002584号</span>
    </div>
  </div>
</footer>



<!-- 使用Bootstrap之前必须先引用这两个-->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- 一些js插件-->
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- 自己的js文件-->
<script th:src="@{/static/js/index-min.js}"></script>
<script th:src="@{/static/js/loginCheck.js}"></script>

</body>

</html>

