<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>报名成功</title>
        <link th:href="@{/static/css/base.css}" rel="stylesheet">
    </head>
    <body style="overflow-y: hidden;overflow-x: hidden">

        <div class="container">
            <a th:if="${session.loadUser!=null && session.loadUser.userclass eq 5}" onclick="click1()"><input type="button" name=""  id="name"  value="抽奖 ♥" style="color: #c0a16b;width: 400px"></a>
<!--            <input th:if="${session.loadUser==null}" type="text" name=""  id="inputname"  value="" placeholder="请输入" style="color: #c0a16b;width: 400px">-->
            <div class="card-body" style="display: none">
                <div class="table-responsive">
                    <table id="table">
                        <thead>
                        <tr>
                            <th>姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c:${studentList}">
                            <td th:text="${c.name}" style="color: white"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pao">
            </div>
        </div>

        <script type="text/javascript" th:src="@{/static/js/jquery-1.7.2.min.js}"></script>
        <script type="text/javascript">
            var set = [];
            var length = -1;
            var name = "";
            $("#table").each(function () {
                $(this).find('td').each(function () {
                    set[length] = $(this).text()
                    length++;
                });
            });
            console.log(set);
            $(function () {
                paopao();
            });
            //需要的参数
            var pp = {
                pl: 0,   //生成的paopao随机的居左的位置
                color: ["ce4f6d", "ca4fce", "4f82ce", "4fce91", "ceca4f"],   //随机添加的颜色
                c: 0,  //初始化颜色
                step: 1000,
            };
            var delaytime = 40;
            var paopaonum = delaytime;
            function click1() {
                $("#name").val("抽奖 ing");
                paopaonum--;
                paopao1();
            }
            function paopao1(){
                if(paopaonum == delaytime){
                    clearInterval(paopao1);
                    clearInterval(paopao);
                    return;
                }
                //添加元素
                var html = '<div class="paopao iconfont" style="left: '+ pp.pl + 'px;color: #'+ pp.color[pp.c] +'">&#xe60d;</div>';
                $(".pao").append(html);
                //获取颜色
                pp.c ++;
                if(pp.c >= pp.color.length){
                    pp.c = 0;
                }
                pp.pl = Math.round(Math.random()*100/3);  //随机位置
                paopaonum--;
                //执行动画
                $(".paopao").each(function () {
                    if(paopaonum <= 0 || paopaonum == delaytime){
                        clearInterval(paopao1);
                    }
                    if($(this).index()%2 == 0){
                        pp.step = 100;
                    }else if($(this).index()%3 == 0){
                        pp.step = 200;
                    }else{
                        pp.step = 300;
                    }

                    if (!$(this).is(":animated")) {
                        $(this).animate({            //运动
                                top: "-600px",
                                fontSize: "60px",
                                opacity: "0"
                            }, (500-pp.step)*10,
                            function () {
                                $(this).remove();        //清除元素
                            })
                    }
                });
                //定时器
                console.log(paopaonum);
                setTimeout(paopao1,pp.step);
                if(paopaonum <= 0 || paopaonum == delaytime){
                    clearInterval(paopao1);
                    clearInterval(paopao);
                    paopaonum = delaytime;
                    var x = length - 1;
                    var y = 0;
                    var rand = parseInt(Math.random() * (x - y + 1) + y);
                    var luckname = set[rand];
                    $("#name").val(luckname);
                }
            }
            function add(){
                var name = $("#inputname").val();
                $.ajax({
                        type: "GET",
                        url: "/luck/add?name="+name,
                        success: function(data){
                            console.log(data);
                        }
                });
            }
            function paopao() {
                //添加元素
                //x上限，y下限
                var x = length - 1;
                var y = 0;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                var html = '<div class="paopao iconfont" style="left: ' + pp.pl + 'px;color: #' + pp.color[pp.c] + '">&#xe60d;<br>' + set[rand] + '</div>';
                $(".pao").append(html);
                //获取颜色
                pp.c++;
                if (pp.c >= pp.color.length) {
                    pp.c = 0;
                }
                pp.pl = Math.round(Math.random() * 1200-700);  //随机位置

                //执行动画
                $(".paopao").each(function () {
                    if ($(this).index() % 2 == 0) {
                        pp.step = 800;
                    } else if ($(this).index() % 3 == 0) {
                        pp.step = 1000;
                    } else {
                        pp.step = 1200;
                    }
                    if (!$(this).is(":animated")) {
                        $(this).animate({            //运动
                                top: "-800px",
                                fontSize: "60px",
                                opacity: "0",
                            }, (2000 - pp.step) * 10,
                            function () {
                                $(this).remove();        //清除元素
                            })
                    }
                });
                //定时器
                setTimeout(paopao, pp.step);
            }
        </script>

    </body>
</html>
